h1 {
  font-family: "Anton", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 0.1em;
}
h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 100;
}
h3 {
  font-family: "Sintony", sans-serif;
  color: #c47f65;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.pageDes {
  display: inline-block;
  opacity: 0.8;
  text-transform: initial;
  letter-spacing: 0.1em;
}
.bold {
  font-weight: 500;
}
